<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luckyun.demo.base.mapper.SysAccountMapper">
      
    <select id="list" resultType="com.luckyun.demo.base.entity.SysAccount">
        select a.*,(select count(*) from sys_user where indocno>10) as count from sys_user a order by indocno desc
        <where >
        </where>
    </select>
    
</mapper>