<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luckyun.demo.base.mapper.ArcEquipMapper">
      
    <select id="readAll" parameterType="com.luckyun.demo.base.entity.ArcEquip" 
    	resultType="com.luckyun.demo.base.entity.ArcEquip">
    	select * from arc_equip a
    	<where>
    		<if test="condition.iparentid != null ">
    			and a.iparentid = #{condition.iparentid}
    		</if>
    	</where>
    </select>
</mapper>